.login {
    padding-right: 1%;
}

.navbar-brand {
    font-size: 40px;
}

.navbar {
    padding-left: 1%;
    padding-top: 1%;
}

.nav {
    padding-left: 3%;
    padding-bottom: .5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
}

.row {
    padding-top: 3%;
}

.invisibile {
    display: none;
}

#registrazione table, #login table{
    margin: 0 auto;
}

#registrazione table td, #login table td {
    padding: 7px;
}

#registrazione table td b {
    text-align: left;
}

.pop-up {
    display: none;
    position: absolute;
    width: 200px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #337AB7 0px, #265A88 100%);
    color: white;
    border: 1px solid;
    font-size: 90%;
}

.errore {
    color: red;
}

#login-collapsed, #login-normal{
    margin-right: 10px;
}

@media screen and (min-width: 1160px) {
    #login-normal {
        display: block;
    }
    
    #login-collapsed {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    #login-normal {
        display: none;
    }
    
    #login-collapsed {
        display: block;
    }
}

@media screen and (max-width: 910px) and (min-width: 400px) {
    #titolo {
        font-size: 30px;
    }
}