/*style categories*/

a.btn {
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom,#e7ce98 0,#BA783E 100%);
    background-repeat: repeat-x;
    border-color: transparent;
    color: white;
    font-size: 15px;
    border-radius: 0px;
}
a.btn:hover{
    background-color: #BA783E;
    background-image: linear-gradient(to bottom,#e7ce98 0,#BA783E 100%);
    background-repeat: repeat-x;
    border-color: #f1f1f1;
    color: white;
    font-size: 15px;
    background-position: 0 -15px;
}

body {
    background: url(../img/tanti-vecchi-felici-2.jpg);
}

.link-a-utente:hover{
    color: #23527c;
    text-decoration: underline;
}

.linea-categoria{
    
border-bottom: 1px solid #ddd;
    
width: 95%;
}

.col-sm-8 img.img-piccola{
    
width: 80px;
    
border-color: black;
    
box-shadow: 0 1px 1px white, 0 -1px 1px white;
}
.link-a-utente{
    
border: none;
    
background: none;
    
/* text-decoration: underline; */
    
font-size: 18px;
    
color: #337ab7;
}

h2.blu-titolo {
    color: green;
    font-size: 20px;
}h2.ara-titolo {
    color: #b25900;
    font-size: 20px;
}h2.vio-titolo {
    color: #d24dff;
    font-size: 20px;
}h2.ros-titolo {
    color: #8c2300;
    font-size: 20px;
}h2.ver-titolo {
    color: #758b40;
    font-size: 20px;
}h2.azz-titolo {
    color: #006dd9;
    font-size: 20px;
}
#pagina-categoria .hp{
    height: 100%;
    font-size: 20px;
}
.row .panel-chiaro{
    background-color: #f1f1f1;
    border-color: #fff;
    box-shadow:  0 1px 1px #e8e8e6, 0 -1px 1px #e8e8e6;
    padding: 15px;
}

.ara{
    background-color: #b25900;
    background-image: linear-gradient(to bottom,#ff8000 0,#b25900 100%);
    background-repeat: repeat-x;
    border-color: #b25900;
    color: white;
}
.vio{
    background-color: #660066;
    background-image: linear-gradient(to bottom,#d24dff 0,#660066 100%);
    background-repeat: repeat-x;
    border-color: #660066;
    color: white;
}
.blu{
    background-color: #396c39;
    background-image: linear-gradient(to bottom,#60b560 0,#396c39 100%);
    background-repeat: repeat-x;
    border-color: #396c39;
    color: white;
}
.ros{
    background-color: #8c2300;
    background-image: linear-gradient(to bottom,#e0473f 0,#8c2300 100%);
    background-repeat: repeat-x;
    border-color: #8c2300;
    color: white;
}
.ver{
    background-color: #758b40;
    background-image: linear-gradient(to bottom,#a8c56b 0,#758b40 100%);
    background-repeat: repeat-x;
    border-color: #758b40;
    color: white;
}
.azz{
    background-color: #006dd9;
    background-image: linear-gradient(to bottom,#61d2d2 0,#006dd9 100%);
    background-repeat: repeat-x;
    border-color: #006dd9;
    color: white;
}

.btn-cat {
    width: 100%;
    height: 150px;
    font-size: 25px;
    color: #fff;
}

.registrazione{
    margin-top: 5px;
}

.registrazione > a{
    color: #494942;
    text-decoration: none;
    background: wheat;
    background: beige;
    background-color: rgba(245,245,220, 0.7);
    padding: 2px;
    margin-top: 10px;
    border: 1px solid #c4b18f;
    text-decoration: underline;
}

/*carpi*/
.login {
    padding-right: 1%;
}

.navbar-brand {
    font-size: 40px;
    color: black !important;
}

.navbar {
    padding-left: 1%;
    padding-top: 1%;
    background-image: url(../img/13636.jpg);
    color: black !important;
}

.nav {
    padding-left: 3%;
    padding-bottom: .5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
}

.navbar-brand img {
    float: left;
    width: 20%;
    padding-top: 0px;
    margin-top: -25px;
}

#login-collapsed {
    padding-bottom: 0px;
}

#login-collapsed a {
    color: black !important;
}

.titolo {
    font-family: cursive;
    text-shadow: 2px 2px white;
}

.logout {
    color: black !important;
    font-weight: bold;
}

.row {
    padding-top: 3%;
}

.hp {
    width: 100%;
    height: 145px;
    font-size: 30px;
}

.botoni {
    padding-right: 15px;
}

.invisibile {
    display: none;
}

#crea table, #registrazione table, #login table{
    margin: 0 auto;
}

#crea td, #registrazione table td, #login table td {
    padding: 7px;
    
}

#crea table td b, #registrazione table td b {
    text-align: left;
}


#registrazione .birth {
    margin-right: 0px;
    border-radius: 0px;
    margin-right: 0px;
    float: left;;
}

#crea input, #registrazione input {
    width: 210px;
}

#day, #month {
    width: 65px;
}

#year {
    width: 80px;
}

.date {
    padding-left: 10px;
}


.pop-up {
    display: none;
    position: absolute;
    width: 200px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #337AB7 0px, #265A88 100%);
    color: white;
    border: 1px solid;
    font-size: 90%;
}

.errore {
    color: red;
}

.col-sm-8 img {
    width: 100%;
}

.panel {
    padding: 15px;
    background-color: #adadad;
}

.content {
    padding: 0px;
}

.cat {
    padding-bottom: 15px;
}

.con-cat {
    padding-bottom: 0px;
}

#login-collapsed, #login-normal{
    margin-right: 10px;
}

@media screen and (min-width: 1160px) {
    #login-normal {
        display: block;
    }
    
    #login-collapsed {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    #login-normal {
        display: none;
    }
    
    #login-collapsed {
        display: block;
    }
}

@media screen and (max-width: 910px) and (min-width: 400px) {
    #titolo {
        font-size: 30px;
    }
}
@media screen and (max-width: 1160px) and (min-width: 896px) {
    .navbar-brand img {
        width: 15%;
    }
}

@media screen and (max-width: 895px) and (min-width: 768px) {      
    .navbar-brand img {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand img {
        width: 25%;
    }
    
    .botoni {
        padding-left: 15px;
    }
}

.truncate {
    /* width: 100%; */
    /* min-width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media screen and (max-width: 910px) {    
    .navbar-brand {
        font-size: 30px;
        width: 350px;
    }
}
/*carpi*/
.col-sm-3 img.img-media{
	width: 120px;
	height: 120;    
	border-color: black;
	box-shadow: 0 1px 1px white, 0 -1px 1px white;
}
