/*style categories*/
.rosso{
    background-color: #d9534f;
}
.verde{
    background-color:  #4cae4c;
}
.giallo{
    background-color:  #f5e79e;
}
.blu{
    background-color:  #269abc;
}
.marrone{
    background-color:  #8a6d3b
}
.rosa{
    background-color:  #dca7a7;
}

.btn-cat {
    width: 100%;
    height: 150px;
    font-size: 25px;
}

/*carpi*/
.login {
    padding-right: 1%;
}

.navbar-brand {
    font-size: 40px;
    color: black !important;
}

.navbar {
    padding-left: 1%;
    padding-top: 1%;
    background-image: url(../img/13636.jpg);
    color: black !important;
}

.nav {
    padding-left: 3%;
    padding-bottom: .5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
}

.navbar-brand img {
    float: left;
    width: 20%;
    padding-top: 0px;
    margin-top: -25px;
}

#login-collapsed {
    padding-bottom: 0px;
}

#login-collapsed a {
    color: black !important;
}

.titolo {
    font-family: cursive;
}

.logout {
    color: black !important;
    font-weight: bold;
}

.row {
    padding-top: 3%;
}

.hp{
    width: 100%;
    height: 145px;
    font-size: 30px;
}

.botoni {
    padding-right: 15px;
}

.invisibile {
    display: none;
}

#registrazione table, #login table{
    margin: 0 auto;
}

#registrazione table td, #login table td {
    padding: 7px;
    
}

#registrazione table td b {
    text-align: left;
}


#registrazione .birth {
    margin-right: 0px;
    border-radius: 0px;
    margin-right: 0px;
    float: left;;
}

#registrazione input {
    width: 210px;
}

#day, #month {
    width: 65px;
}

#year {
    width: 80px;
}

.date {
    padding-left: 10px;
}


.pop-up {
    display: none;
    position: absolute;
    width: 200px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #337AB7 0px, #265A88 100%);
    color: white;
    border: 1px solid;
    font-size: 90%;
}

.errore {
    color: red;
}

.col-sm-8 img {
    width: 100%;
}

.panel {
    padding: 15px;
    background-color: #adadad;
}

.content {
    padding: 0px;
}

.cat {
    padding-bottom: 15px;
}

.con-cat {
    padding-bottom: 0px;
}

#login-collapsed, #login-normal{
    margin-right: 10px;
}

@media screen and (min-width: 1160px) {
    #login-normal {
        display: block;
    }
    
    #login-collapsed {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    #login-normal {
        display: none;
    }
    
    #login-collapsed {
        display: block;
    }
}

@media screen and (max-width: 910px) and (min-width: 400px) {
    #titolo {
        font-size: 30px;
    }
}

@media screen and (max-width: 895px) and (min-width: 768px) {      
    .navbar-brand img {
        width: 30%;
    }
}

@media screen and (max-width: 895px) {    
    .navbar-brand {
        font-size: 30px;
        width: 350px;
}

@media screen and (max-width: 767px) {
    .navbar-brand img {
        width: 25%;
    }
}

.hdata {
    display: none;
}
/*carpi*/